body {
    background: #1a1a2e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: #0d1117 2px solid;
}

.players-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    height: 850px;
    overflow: auto;
}

.player-card {
    background: #ff889d;
    border-radius: 10px;
    width: 220px;
    padding: 5px;
    height: 60px;
    gap: 15px;
    text-align: center;
    cursor: grab;
    user-select: none;
    display: flex;
    align-items: center;
}

.premiere-ligne{
    background: #ff6130;
}

.player-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.field {
    background: url('../img/data/comp.png') no-repeat center;
    background-size: contain;
    width: 1360px;
    height: 767px;
    position: relative;
    margin-bottom: 40px;
}

.position-slot {
    position: absolute;
    width: 220px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: rgba(51, 51, 51, 0.8);
}

/* Example slot positioning */
.slot-1 { top: 25px; left: 55px; }
.slot-2 { top: 25px; left: 370px; }
.slot-3 { top: 25px; left: 685px; }
.slot-4 { top: 145px; left: 200px; }
.slot-5 { top: 145px; left: 535px; }
.slot-6 { top: 255px; left: 50px; }
.slot-7 { top: 255px; left: 685px; }
.slot-8 { top: 310px; left: 370px; }
.slot-9 { top: 420px; left: 120px; }
.slot-10 { top: 420px; left: 610px; }
.slot-11 {top: 640px; left: 50px;}
.slot-12 {top: 525px; left: 200px;}
.slot-13 {top: 525px; left: 535px;}
.slot-14 {top: 640px; left: 685px;}
.slot-15 {top: 640px; left: 370px;}
.slot-16 {top: 40px; left: 1050px;}
.slot-17 {top: 121px; left: 1050px;}
.slot-18 {top: 202px; left: 1050px;}
.slot-19 {top: 283px; left: 1050px;}
.slot-20 {top: 364px; left: 1050px;}
.slot-21 {top: 445px; left: 1050px;}
.slot-22 {top: 526px; left: 1050px;}
.slot-23 {top: 607px; left: 1050px;}

.dragging {
    opacity: 0.5;
}

article {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background: #ffc0c0AA;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 98%;
    gap: 10px;
}

form {
    border-left: 2px solid black;
    padding-bottom: 20px;
}

aside{
    display: flex;
    /*background: rgba(255, 156, 156, 0.67);*/
    flex-direction: column;
    height: 100%;
    gap: 15px;
    align-self: flex-start;
    max-height: 917px;
    padding-left: 20px;
    padding-top: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}