html{
    min-height: 100%;
    height: 100%;
}

body {
    /*background: linear-gradient(100deg, #00afff, #a63f3f88);*/
    background-color: white;
    /*color: #fff;*/
    color: black;
    margin: 0;
    display: flex;
    padding: 0;
    min-height: 100%;
    font-family: Bahnschrift, sans-serif;
}

.background {
    background: #0d1117;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container{
    width: 10%;
    min-width: 157px;
}