nav{
    min-height: 100%;
    width: 10%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    border-right: #0d1117 1px solid;
    background: rgba(0, 82, 172, 0.73);
}

nav ul{
    list-style-type : none;
    padding : 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: block; /* Makes anchor tags fill the entire list item */
    padding: 20px 15px; /* Adds space around the text */
}

nav ul a:hover{
    color: black;
    text-decoration: none;
    background-color: #1c65b6BB;
}

nav ul li{
    font-size: 18px;
    width: 100%;
    height: 100%;
}