.main{
    display: flex;
    width: 90%;
    margin : 1%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.div-column {
    flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    height: fit-content;
    width: fit-content;
}

.header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.strong-bienvenue{
    color: #ffd4d4;
}

section{
    display: flex;
    border: black 1px solid;
    padding: 1%;
    flex-direction: column;
    /*justify-items: start;*/
    gap: 15px;
    align-content: center;
    align-items: center;
    /*side rounded*/
    border-radius: 10px;
    margin : 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

div.statut {
    height: 70px;
}