/* General button styling */


div.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Match section card styling */
.section-card {
    font-weight: bold;
    height: 450px;
    width: 350px;
    justify-content: space-between;
    font-size: 18px;
    max-width: 380px;
    background: #1c65b6BB; /* Blue background */
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9); /* Add subtle shadow */
}

section:hover {
    transform: scale(1.03); /* Slight growth on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
}

/* Forms container styling */


/* Adjust typography for match details */
h2 {
    margin-bottom: 10px;
    color: #fff;
}

p {
    margin: 5px 0;
}

.color-red {
    color: #672323;
}

article {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next row if needed */
    gap: 15px; /* Add space between sections */
    justify-content: center;
}

.card-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats-joueurs, .recap-matchs, .stats-globales{
    background-color: #1c65b6BB;
    width: 95%;
}

