RewriteEngine On
RewriteBase /

# Exclude requests to /resources/ from redirection
RewriteCond %{REQUEST_URI} !^/resources/

# Exclude requests that are already in /controleur/ from redirection
RewriteCond %{REQUEST_URI} !^/controleur/

# Redirect all other requests to /controleur/
RewriteRule ^(.*)$ /controleur/$1 [L,QSA]